TZ=Europe/Berlin
ISHIKU_BASE_PATH=/
ISHIKU_DATA_DIR=/data
ISHIKU_CONFIG_FILE=/data/config.json
ISHIKU_LOG_LEVEL=info
LISTENING_ADDRESS=:8507
PERIOD=5m
UPDATE_COOLDOWN_PERIOD=5m
PUBLICIP_FETCHERS=all
PUBLICIP_HTTP_PROVIDERS=all
PUBLICIPV4_HTTP_PROVIDERS=all
PUBLICIPV6_HTTP_PROVIDERS=all
PUBLICIP_DNS_PROVIDERS=all
PUBLICIP_DNS_TIMEOUT=3s
HTTP_TIMEOUT=10s
BACKUP_PERIOD=0
ISHIKU_BACKUP_DIRECTORY=/data
SHOUTRRR_ADDRESSES=
